{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Upload Category</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Day - v4.9.1
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<!-- <body class="bg-secondary"> -->

<body>

    {% include 'main-page/navbaar.html' %}
    {% include 'main-page/message.html' %}

    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <span>Upload Category</span>
                <h2>Upload Category</h2>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-4 bg-secondary text-white">
                    {% if update_category_data %}
                    <form method="POST" action="/superuser/upload_category/">
                    <input type="hidden" name="update_id" value="{{update_category_data.categoryID}}">
                    {% else %}
                    <form method="POST">
                    <input type="hidden" name="update_id">
                    {% endif %}
                        {% csrf_token %}
                        <div class="form-group mb-3 col-md-12">
                            <label for="Category">Category :</label>
                            <input type="text" class="form-control" id="Category" aria-describedby="emailHelp"
                                placeholder="Enter Category" name="category" required value="{{update_category_data.categoryName}}">
                        </div>
                        <div class="form-group mb-3 col-md-12">
                            <label for="categoryDiscription">Category Discription</label>
                            <input type="text" class="form-control" id="categoryDiscription"
                                placeholder="Category Discription" name="categorydiscrption" required value="{{update_category_data.categoryDiscription}}">
                        </div>
                        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>